# Zim Framework directory (cloned modules, script, and init files)
.zim/

# Zsh completion cache files
.zcompcache/
.zcompdump*

# Zsh history
.zsh_history

# Local secret configurations
.zsh_secrets
